body{
    background-color: #fdec70;
    padding: 50px;
    color: #401403;
}

h1{
    font-family:sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 35px;
}

.menu{
    list-style-type: none;
    font-size: 1.5rem;
    max-width: 400px;
    margin: 0 auto 30px auto;
    text-align: center;
}
.menu li{
    margin-bottom: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color:#f4b057;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid;
}
caption{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #401403; 
}
 th, td{
    border: 1px solid rgb(0, 0, 0);
    padding: 14px 18px;
    text-align: left;
    font-size: 1rem;
}
 th{
    background-color: #fcae48;
    color: #401403;
    
}

td.precio{
    text-align: right;
    font-weight: bold;
}

td.desc{
    font-style: italic;
    font-size: 0.95rem;
}

